
body {
    background: #0F0E17;
    block-size: 100vh;
    margin: 0;
    padding: 0;
    padding-inline: 5rem;
    color: whitesmoke;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-block: 1.5rem;

    & ul {
       display: flex;
       flex-direction: row;
       gap: 3rem;
       
       & li {
        list-style: none;
       }
    }
}

.slider {
    margin-block: 3.5rem;
}

.movieList {
    margin-block-end: 2rem;
}



