
:root {
  --black: #0F0E17;
  --font-family: 'Nunito', sans-serif;
}

body{
    font-family: var(--font-family);
    background-image: url(/bg-shape4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white; */
    margin: 0;
    padding-inline: 2rem;
    block-size: 100vh;
}

.App {
    text-align: center;
    margin: 0 8% 4%;
}

.form-search h2 {
    font-size: 50px;
}

/* loading animation */
@keyframes spinner {
    to  {
        transform: rotate(360deg);
    }
}
.loading {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-top:  10rem;
    border-radius: 50%;
    border: 8px solid #000;
    border-top-color: #FCAF3C;
    animation: spinner .6s linear infinite;
}

p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
    color: #fff;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}


