
.cart {
    background: #000;
    display: none;
    padding-inline: 2rem;
    padding-block: 1rem;
    position: fixed;

    & ul {
        display: flex;
        gap: 2.5rem;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-block-end: 1rem;
        overflow-x: auto;

    }
    ::-webkit-scrollbar {
        height: .5rem;
    }

    /* Track */
    ::-webkit-scrollbar-thumb {
        background: #f1f1f1;
        border-radius: .5rem;
    }

    /* Handle */
    ::-webkit-scrollbar-track {
        background: #888;
        border-radius: .5rem;
    }

    & img {
        /* width: 6rem;
        height: 8rem; */
        width: 6rem;
        height: 8rem;
        
        view-timeline-name: --image;
        view-timeline-axis: inline;
    
        animation-timeline: --image;
        animation-name: show;
    
        animation-range: entry 10% cover 20%;
        animation-fill-mode: both;
    }

    & .clearCartButton {
        block-size: 2rem;
        border: none;
        border-radius: .5rem;
    }
    
    & footer {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
    
    & footer button {
        margin-block: 1rem;
        border: none;
        border-radius: .2rem;
        padding: .5rem;
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 110%
    }
}

.cart-button {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    gap: .2rem;
    padding: 4px;
    position: fixed;
    right: 16px;
    top: 20px;
    transition: all .4s ease;
    z-index: 9999;
}

.cart-button:hover {
    scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    bottom: 0;
    block-size: auto;
    width: 100%;
}

