
.cart {
    background: #000;
    display: none;
    padding: 2rem;
    position: fixed;

    & img {
        width: 6rem;
        height: 8rem;
        border-radius: .5rem;
    }

    & ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    & li {
        padding-bottom: 16px;
    }

    & .clearCartButton {
        block-size: 2rem;
        border: none;
        border-radius: .5rem;
    }
    
    & footer {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }
    
    & footer button {
        border: none;
        border-radius: .5rem;
        padding: 8px;
    }
}

.cart-button {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: fixed;
    right: 16px;
    top: 20px;
    transition: all .4s ease;
    width: 32px;
    z-index: 9999;
}

.cart-button:hover {
    scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    bottom: 0;
    block-size: 12rem;
    width: 100%;
    /* scroll-behavior: auto; */
}
