@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Nunito';
  background: linear-gradient(45deg, rgb(0, 0, 134), rgb(59, 59, 0));
  font-size: 1rem;
  margin: 0;
  height: 100vh;
}

.input {
  @apply rounded-md text-gray-20 px-2 py-1
}


/* width */
::-webkit-scrollbar {
    width: .5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #334;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }